.content {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 20px 0 40px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.projects .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.projects .item img {
  display: block;
}

.project {
  background-color: #34352f;
  border-radius: 3px;
  margin-bottom: 40px;
  padding: 15px;
}

.project .title {
  font-size: 1.4rem;
  margin: 3px;
}

.slider_box {
  cursor: pointer;
}

.technology_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 10px;
}

.technology {
  margin-right: 4px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;
}

.js {
  background-color: #ffd600;
}

.ts {
  background-color: #1976d2;
}

.react {
  background-color: #80deea;
}

.html {
  background-color: #ff6d00;
}

.css {
  background-color: #0277bd;
}

.redux {
  background-color: #7e57c2;
}

.mui {
  background-color: #039be5;
}

.node {
  background-color: #6da75d;
}

.mongo {
  background-color: #599636;
}

.docker {
  background-color: #2395ec;
}

