.content {
    margin-left: 300px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
}

.projects .item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f0dc29;
    border: 1px solid black;
    }

.projects .item img {
        display: block;
        }

.slider_box {
cursor: pointer;
        }
