.sidebar {
  background-color: #1e1f1c;
  box-shadow: 5px 0 15px rgba(5, 5, 5, 0.1);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 1000;
}

.profile {
  margin: 0 auto;
  width: 90%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar_box {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1rem;
}

.avatar_box_mobile {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #414339;
}

.button_only_mobile {
  display: none;
}

.profile img {
  display: block;
  width: 100%;
  height: 100%;
}

.profile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.social {
  display: flex;
  flex-direction: column;
}

.social_links {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  margin-bottom: 20px;
  background-color: #414339;
  border-radius: 3px;
  padding: 7px;
}

.social__item {
  width: 20%;
  height: 20%;
  margin-left: 8px;
}

.social__item a img {
  width: 100%;
  height: 100%;
  display: block;
}

.social_text {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.technologies_title {
  font-weight: bold;
  margin: 10px;
}

.profile__skills {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile__skills__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #414339;
  border-radius: 3px;
  padding: 7px;
}

.profile__skills__item {
  width: 20%;
  height: 20%;
  margin: 5px;
}

.profile__skills__item img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .sidebar {
    width: 100vw;
    max-height: 20vh;
    transition: all 2s ease-in-out;
    z-index: 2000;
  }

  .profile {
    width: 100vw;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 20vh;
    overflow: hidden;
    transition: all 2s ease-in-out;
    z-index: 2000;
  }

  .avatar {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }

  .button_only_mobile {
    position: absolute;
    display: block;
    color: #e2c08d;
    transform: rotate(90deg);
    font-size: 1.5rem;
    top: 17vh;
    left: 50vw;
    z-index: 2001;
    transition: transform 0.5s ease-in-out;
  }

  .button_up {
    transform: rotate(-90deg);
    transition: transform 0.5s ease-in-out; 
  }

  .disappearing_box {
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    margin: 0;
  }

  .opened {
    opacity: 1;
    visibility: visible;
    max-height: 100%;
    transition: all 2s ease-in-out;
  }

  .disappearing_box .hidden {
    opacity: 0;
    transform: scaleY(0);
    height: 0;
  }

  .social {
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social_links {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-around;
    margin-bottom: 20px;
    background-color: #414339;
    border-radius: 3px;
    padding: 7px;
  }
  
  .social__item {
    width: 20%;
    height: 20%;
    margin-left: 8px;
  }

  .profile__skills__box {
    padding: 10px;
  }

  .profile__skills {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .profile__skills__item {
    width: 17%;
    height: 17%;
    margin: 4px;
  }
}


@media screen and (max-width: 1200px) {
  .avatar_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
  }
}