.slider_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 187px;
  margin: 10px;
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.allPagesContainer {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: none;
}

