.sidebar {
    background-color: #c7c5c5;
    box-shadow: 5px 0 15px rgba(5,5,5,.1);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 1000;
}

.profile {
    margin-top: 10rem;
}

.profile img {
    display: block;
    width: 140px;
    height: 140px;
}