.sidebar {
    background-color: #1e1f1c;
    box-shadow: 5px 0 15px rgba(5,5,5,.1);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 1000;
}

.profile {
    margin: 0 auto;
    width: 80%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 150;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #414339;
}

.profile img {
    display: block;
    width: 150px;
    height: 150px;
}

.social {
    display: flex;
    flex-direction: column;
}

.social_links {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-around;
    margin-bottom: 30px;
    background-color: #414339;
    border-radius: 3px;
    padding: 7px;
}

.social__item {
    width: 48px;
    height: 48px;
    margin-left: 8px;
    
}

.social__item a img {
    width: 48px;
    height: 48px;
    display: block;
    
}

.social_text {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile__skills {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile__skills__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #414339;
    border-radius: 3px;
    padding: 7px;
}

.profile__skills__item {
    width: 48px;
    height: 48px;
    margin: 5px;
}

.profile__skills__item img {
    display: block;
    width: 48px;
    height: 48px;
}

